<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.mybatis.mapper.EmpMapper">
    
    <resultMap id="empMap" type="employee">
        <constructor>
            <arg column="Date" javaType="java.util.Date"></arg>
        </constructor>
    </resultMap>

<!--
    ResultSet = query();
    while(ResultSet.next){
        Employee emp = employee.class.newInstance();
        Field[] fieldArray = employee.class.getDeclaredFields();
        for(i = 0; i < filedArray.length; i++){
            Field fieldObj = fieldArray[i];
            String fieldName = fieldObj .getName();
            String value = ResultSet.getString(fieldName);
            Class fieldType = fieldObj.getType();
            if(Integer.class == fieldType){
                fieldObj.set(emp,Integer.valueOf(value));   //之前类型转换
            }else if(Boolean.class == fieldType){
                fieldObj.set(emp,Boolean.valueOf(value));
            }
            ....


            column ：d_name => dName
            Dept类 ：dName
        }
    }
  -->

    <select id="empFind" resultMap="empMap">
        select * from Emp
    </select>

    <select id="empFind2" resultMap="empMap">
        select * from emp
        where 1 = 1
        <choose>
            <when test="sal >= 19000">
                and ename = 'Frank'
            </when>
            <when test="sal >= 15000">
                and ename = 'Eric'
            </when>
            <otherwise>
                and ename in ('Bob','Alice')
            </otherwise>
        </choose>
    </select>


    <resultMap id="empMap2" type="employee">
        <id column="empno" property="empno"></id>
        <result column="ename" property="ename"></result>
        <result column="sal" property="sal"></result>
        <result column="job" property="job"></result>
        <association property="dept" javaType="dept">
            <!-- 既可以是临时表一方表主键字段值，也可以是多方表外键字段值-->
            <result column="dept_no" property="deptNo" />
            <result column="dname" property="dname" />
            <result column="dmanager" property="dmanager" />
        </association>
    </resultMap>

    <!-- 根据职员编号查询职员基本信息以及隶属部门信息-->
    <select id="empFindByIdxxx" resultMap="empMap2">
        select dept.deptno dept_no,
                dname,
                dmanager,
                empno,ename,job,sal
        from dept join emp
        on dept.deptno = emp.deptno
        where empno = #{empno}
    </select>



</mapper>
